h1 {
    text-transform: capitalize;


}


.p_pertama {
    text-align: justify;


}

.p_kedua {
    text-decoration: underline;


}

* {
    color: white;
    background-color: green;
}

p.p_ketiga,p.p_keempat {
    text-align: center;


}




p.p_lima {
    text-decoration: line-through;


}